.tag {
  border-color: #d3c1e5;
  color: #ffffff;
  border-radius: 1rem;
  padding: 0 0.4rem;
  margin: 0.15rem;
  background-color: #453257;
}
.tag-selected {
  border-color: #e5f7a9;
  color: #453257;
  background-color: #e5f7a9;
}
